
body{
    background-color: rgb(128, 170, 255) !important;
}

.container{
    background-color: rgb(128, 170, 255) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card{
    width: 30rem;
    height: 94vh !important;
    margin-top: 8px;
}

.quiz-card img{
    height: 240px;
    width: 300px;
    align-self: center;
}

.card-body .card{
    height: 40px;
    display: flex;
    justify-content: center;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.bg-success, .bg-danger{
    color: white !important;
}

.progress{
    border-radius: 0 !important;
}

.trophy{
    width: 80% !important;
    height: 40vh !important;
    display: flex;
    justify-self: center;
}

.card-body#endscreen{
    padding: 8px;
}

.card-body div p{
    margin: 0;
    justify-self: center;
}

#endscreen h2{
    margin: 0;
    display: flex;
    justify-self: center;
}

.question-footer{
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}